@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oswald:400,600");
html {
  font-size: 62.5% !important;
}

body {
  width: 100%;
  margin: 0 auto;
  font: 0.625rem "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.1em;
  color: #111;
  font-size: 1.8rem;
  word-break: break-all;
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "palt" 1;
  font-feature-settings: "palt" 1;
  overflow: hidden;
}

/* for IE 6 */
* html body {
  font-size: 75%;
}

/* for IE 7 */
*:first-child + html body {
  font-size: 75%;
}

/* リンク */
a {
  color: #111;
  text-decoration: none;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

a.imgLink {
  display: block;
  width: 100%;
  height: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

a:hover img {
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  opacity: 0.7;
}

.link-underline {
  text-decoration: underline;
}

.link-red {
  color: #c66060;
}

/* 画像 */
img {
  max-width: 100%;
  vertical-align: bottom;
}

/* リスト */
ul {
  list-style-type: none;
}

ul.lst_none {
  list-style-type: none;
}

/* テキスト装飾 */
.text-caution {
  color: #C31213;
}

.text-important {
  color: #C31213;
}

.text-bold {
  font-weight: bold;
}

/* メディアクエリで表示・非表示切り替え */
.pc_only {
  display: inherit;
}

@media screen and (max-width: 479px) {
  .pc_only {
    display: none;
  }
}

.tab_only {
  display: none;
}

@media screen and (max-width: 834px) {
  .tab_only {
    display: inherit;
  }
}

.sp_only {
  display: none;
}

@media screen and (max-width: 479px) {
  .sp_only {
    display: inherit;
  }
}

@media screen and (max-width: 833px) {
  .fixed {
    position: fixed;
    width: 100%;
    height: 100%;
  }
}

/* Lity モーダル */
body .lity-close,
body .lity-close:hover,
body .lity-close:active {
  width: 25px;
  height: 25px;
  background: url(images/button_close.png) center center no-repeat;
  position: absolute;
  top: 35px;
  right: 42px;
  text-indent: -9999px;
  font-size: 10px;
  line-height: 25px;
}

@media (max-width: 799px) {
  body .lity-close,
  body .lity-close:hover,
  body .lity-close:active {
    top: 25px;
    right: 25px;
  }
}

@media screen and (max-width: 833px) {
  body input,
  body textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
  }
  body .flex_to_block {
    -webkit-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

/* Flexbox レイアウト */
.flex_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex_wrap.v_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex_wrap.vh_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex_wrap.space_between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex_wrap.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flex_wrap.column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.flex_wrap.wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.l-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.l-column.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.l-column.col_half .col_inner {
  width: 50%;
}

.l-column.col_half .text_area {
  padding: 50px 0;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.l-column.col_half .text_area .inner {
  width: 80%;
}

.l-column.col_half .image_area img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.l-column.col3 {
  margin-bottom: -3%;
}

.l-column.col3 .col_inner {
  width: 31.33%;
  margin: 0 3% 3% 0;
}

.l-column.col3 .col_inner:nth-child(3n) {
  margin: 0 0 3% 0;
}

.l-column.col3.type01 .btn-more {
  margin-top: 30px;
}

.l-column.col5 .col_inner {
  width: 17.6%;
  margin: 0 3% 3% 0;
}

.l-column.col5 .col_inner:nth-child(5n) {
  margin: 0 0 3% 0;
}

.l-column.type01 .image_area {
  margin-bottom: 25px;
}

.l-column.type01 .image_area img {
  width: 100%;
}

.l-column.type01 .text_area {
  text-align: center;
}

.l-content.type01 .content_inner {
  width: 100%;
}

.l-content.type01 .text_area {
  padding: 80px 0;
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.l-content.type01 .text_area .inner {
  width: 50%;
}

.l-content.type01 .image_area img {
  width: 100%;
}

.image_area {
  position: relative;
}

.image_area img {
  display: block;
}

.image_area .catch_area {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.image_area .catch_area .catch {
  color: #FFF;
  font-size: 3.8rem;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.l-alternate .l-column {
  margin-bottom: 180px;
  position: relative;
}

.l-alternate .l-column:last-child {
  margin-bottom: 50px;
}

.l-alternate .l-column .text_area {
  width: 45%;
  height: 400px;
  position: absolute;
  top: 80px;
  right: 0;
  z-index: 9;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.l-alternate .l-column .image_area {
  width: 60%;
  height: 430px;
}

.l-alternate .l-column.reverse {
  margin-bottom: 100px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.l-alternate .l-column.reverse:last-child {
  margin-bottom: 0;
}

.l-alternate .l-column.reverse .text_area {
  right: auto;
  top: -80px;
  left: 0;
  background-color: #9c0e2a;
  color: #FFF;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
}

.l-alternate .l-column.reverse .btn-more {
  background-color: #FFF;
  color: #9c0e2a;
}

@media screen and (max-width: 834px) {
  .l-content.type01 .text_area {
    padding: 60px 0;
  }
  .l-content.type01 .text_area .inner {
    width: 80%;
  }
}

@media screen and (max-width: 479px) {
  .l-column.col_half {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .l-column.col_half .col_inner {
    width: 100%;
  }
  .l-column.col_half .text_area {
    width: 90%;
    margin: -30px auto 0;
    padding: 30px 0;
    z-index: 9;
  }
  .l-column.col_half .text_area .inner {
    width: 85%;
  }
  .l-column.col_half .image_area {
    height: 200px;
  }
  .l-column.col_half .image_area .catch_area .catch {
    margin-top: -30px;
  }
  .l-column.col3 {
    margin-bottom: -40px;
  }
  .l-column.col3 .col_inner {
    width: 100%;
    margin: 0 0 40px 0;
  }
  .l-column.col3 .col_inner:nth-child(3n) {
    margin: 0 0 40px 0;
  }
  .l-column.col5 {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .l-column.col5 .col_inner {
    width: 30%;
    margin: 0 5% 5% 0;
  }
  .l-column.col5 .col_inner:nth-child(5n) {
    margin: 0 0 5% 0;
  }
  .l-column.col5 .col_inner:nth-child(3n) {
    margin: 0 0 5% 0;
  }
  .l-column.col5 .col_inner .image_area {
    height: auto;
  }
  .l-column.type01 .image_area {
    height: 220px;
  }
  .l-column.type01 .image_area img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .l-content.type01 .text_area {
    padding: 30px 0;
  }
  .l-content.type01 .text_area .inner {
    width: 85%;
  }
  .l-content.type01 .image_area {
    height: 200px;
  }
  .l-content.type01 .image_area img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .image_area .catch_area .catch {
    font-size: 2.4rem;
  }
  .l-alternate .l-column {
    margin-bottom: 30px;
    position: relative;
  }
  .l-alternate .l-column:last-child {
    margin-bottom: 0;
  }
  .l-alternate .l-column .text_area {
    width: 90%;
    height: auto;
    margin: -30px auto 0;
    padding: 30px 0;
    position: relative;
    top: 0;
    z-index: 9;
    -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
  }
  .l-alternate .l-column .image_area {
    width: 100%;
    height: 200px;
  }
  .l-alternate .l-column.reverse {
    margin-bottom: 30px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .l-alternate .l-column.reverse:last-child {
    margin-bottom: 0;
  }
  .l-alternate .l-column.reverse .text_area {
    top: 0;
    -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.25);
  }
  .l-alternate .l-column.reverse .headline-type04:after {
    background-color: #FFF;
  }
}

dl.note dt {
  position: relative;
}

dl.note dt span {
  position: absolute;
}

dl.note dd {
  padding-left: 1em;
}

p.note:before {
  content: "※";
  font-weight: 300;
}

dl.caution dt {
  margin-bottom: .3em;
  color: #cfa972;
  font-weight: 600;
}

.video_wrap {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 56.25%;
}

.video_wrap iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.table_layout {
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
}

.table_layout .tr {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@media screen and (max-width: 479px) {
  .table_layout .tr {
    display: block;
  }
}

.table_layout .tr:first-child .th {
  border-top: 1px solid #f0ecdb;
}

.table_layout .th {
  width: 30%;
  padding: 1.5em;
  background-color: #f0ecdb;
  border-left: 1px solid #f0ecdb;
  border-right: 1px solid #f0ecdb;
  border-top: 1px solid #FFF;
  font-weight: normal;
  text-align: left;
}

@media screen and (max-width: 479px) {
  .table_layout .th {
    width: 100%;
    padding: 1em;
  }
}

.table_layout .td {
  width: 70%;
  padding: 1.5em;
  background-color: #fff;
  border-right: 1px solid #f0ecdb;
  border-top: 1px solid #f0ecdb;
  text-align: left;
}

@media screen and (max-width: 479px) {
  .table_layout .td {
    width: 100%;
    padding: 1em;
    border-left: 1px solid #f0ecdb;
  }
}

.table_layout .td span {
  width: 100%;
  display: inline-block;
}

.table_layout .td span:not(:last-child) {
  margin-bottom: 1em;
}

.table_layout .td ul, .table_layout .td ol {
  margin-bottom: 0;
}

.table_layout .attention {
  color: #cf462e;
  margin-left: 5px;
}

table {
  width: 100%;
}

table thead {
  border: 1px solid #CCC;
}

table th,
table td {
  padding: 1em 1.2em;
}

table th {
  background-color: #f1f1f1;
  border-bottom: 1px solid #CCC;
}

table td {
  border-bottom: 1px solid #CCC;
}

@media screen and (max-width: 479px) {
  .sp_table_list tr {
    width: 100%;
    margin-bottom: 20px;
    display: block;
  }
  .sp_table_list thead {
    display: none;
  }
  .sp_table_list tbody {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .sp_table_list tbody th {
    list-style: none;
    background-color: #f1f1f1;
  }
  .sp_table_list tbody td {
    border-top: none;
  }
  .sp_table_list tbody th, .sp_table_list tbody td {
    width: 100%;
    display: block;
  }
}

ol {
  margin-left: 1.5em;
}

ol li:not(:last-child) {
  margin-bottom: .5em;
}

/* ヘッダー */
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #b61a34;
}

.header_inner {
  height: 80px;
  padding: 0 20px;
}

.header_title {
  width: 145px;
  height: 36px;
}

.header_title a {
  width: 100%;
  height: 100%;
  display: block;
  background: url(images/logo.png) center no-repeat;
  background-size: contain;
}

.global-nav {
  margin-right: 15px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}

.global-nav .menu {
  font-size: 1.5rem;
}

.global-nav li {
  margin-left: 30px;
}

.global-nav a {
  color: #FFF;
}

.global-nav .btn-type01 {
  padding: .5em 1.2em;
  border-radius: 20px;
}

.global-nav .active {
  color: #9c0e2a;
  font-weight: 600;
}

/* ハンバーガーボタン */
.hamburger_icon {
  width: 64px;
  height: 64px;
  background-color: #9c0e2a;
  z-index: 99;
}

#nav-toggle {
  margin: 0;
  display: block;
  width: 35px;
  height: 26px;
  cursor: pointer;
}

#nav-toggle div {
  position: relative;
}

#nav-toggle span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #FFF;
  left: 0;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  -o-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}

#nav-toggle span:nth-child(1) {
  top: 0;
}

#nav-toggle span:nth-child(2) {
  top: 12px;
}

#nav-toggle span:nth-child(3) {
  top: 24px;
}

.open #nav-toggle span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}

.open #nav-toggle span:nth-child(2) {
  width: 0;
  left: 50%;
}

.open #nav-toggle span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-315deg);
  -moz-transform: rotate(-315deg);
  -ms-transform: rotate(-315deg);
  transform: rotate(-315deg);
}

.sp_menu_bg {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 834px) {
  .global-nav {
    display: none;
    padding: 50px;
    position: fixed;
    top: 0;
    right: 64px;
    bottom: 0;
    left: 0;
    background-color: #111;
    z-index: 99;
    font-size: 1.8rem;
  }
  .global-nav .menu {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .global-nav li {
    width: 100%;
    margin-left: 0;
    padding-left: 20px;
    position: relative;
  }
  .global-nav li:not(:last-child) {
    margin-bottom: 2em;
  }
  .global-nav li:after {
    content: '';
    width: 6px;
    height: 12px;
    margin-top: -6px;
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20class%3D%22arrow_next%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20206.3%20377.4%22%3E%3Cpath%20d%3D%22M202.7%20197.4c4.8-4.9%204.8-12.6%200-17.4C142.8%20121.1%2082%2062.2%2021.2%203.2%209.6-7.4-7.8%2010%203.8%2020.6c57.9%2056%20114.9%20112%20172.8%20168-57.9%2056-114.9%20112-172.8%20168-10.6%2011.6%205.8%2028%2017.4%2017.4C82%20315.1%20142.8%20256.2%20202.7%20197.4z%22%20fill%3D%22%23FFF%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .global-nav .btn-type01 {
    padding: 0;
    border-radius: 0;
    border: none;
  }
  .global-nav a {
    color: #FFF;
  }
  .hamburger_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 479px) {
  .header_inner {
    height: 64px;
    padding: 0 0;
  }
  .header_title {
    width: 100px;
    height: 25px;
    margin-left: 15px;
  }
  .global-nav {
    padding: 50px 30px;
    font-size: 1.4rem;
  }
  .global-nav .active {
    color: #fff100;
  }
}

/* ページャー */
.pager_number {
  margin-top: 50px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
}

.pager_number .page-numbers {
  width: 60px;
  height: 60px;
  margin: 0 1px;
  display: block;
  font-family: 'BebasKai';
  font-weight: 400;
  font-size: 1.4rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  -ms-flex-pack: center;
  background-color: #FFF;
}

.pager_number .page-numbers.current {
  background-color: #9c0e2a;
  color: #FFF;
}

.pager_number .page-numbers svg {
  width: 8px;
}

@media screen and (max-width: 479px) {
  .pager_number .page-numbers {
    width: 40px;
    height: 40px;
  }
}

/* ページナビゲーション */
.navigation {
  margin-top: 50px;
}

.navigation .nav-links {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.navigation .nav-previous svg {
  margin: -2px 10px 0 0;
}

.navigation .nav-next svg {
  margin: -2px 0 0 10px;
}

.navigation svg {
  width: 8px;
}

@media screen and (max-width: 479px) {
  .navigation {
    margin-top: 30px;
  }
  .navigation .nav-links {
    font-size: 1.2rem;
  }
}

/* メインビジュアル */
#main_visual {
  width: 100%;
  min-width: 1240px;
  margin-top: 80px;
}

#main_visual a {
  height: 100%;
  display: block;
}

#main_visual img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#main_visual .mv_inner {
  position: relative;
  max-height: 800px;
}

#main_visual .catch_area {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#main_visual .catch_area .catch {
  width: 1240px;
  margin: 0 auto;
  color: #FFF;
  font-size: 6.5rem;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* サイト共通 */
.section_wrap {
  width: 100%;
  padding: 120px 0;
}

.section_wrap.bg_color {
  background-color: #e5e5e5;
}

.section_wrap.bg_white {
  background-color: #FFF;
}

.section_wrap.bg_gray {
  background-color: #e5e5e5;
}

.section_wrap.bg_black {
  background-color: #222;
}

.section_wrap.wide_full {
  padding: 0;
}

.section_wrap.wide_full .content {
  width: 100%;
}

.section_wrap .content:not(:last-child) {
  margin-bottom: 120px;
}

.content {
  width: 1240px;
  margin: 0 auto;
}

.bg_red {
  background-color: #9c0e2a;
}

.bg_red .headline-type04 {
  color: #FFF;
}

.bg_red .headline-type04:after {
  background-color: #FFF;
}

.bg_red p {
  color: #FFF;
}

.bg_red .btn-more {
  background-color: #FFF;
  color: #9c0e2a;
}

p {
  line-height: 1.7;
}

p:not(:last-child) {
  margin-bottom: 1em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-en {
  font-family: "Oswald", sans-serif;
}

.image_area img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.text_area p {
  letter-spacing: 0.05em;
}

.svg-inline--fa {
  margin-right: 5px;
}

.section_whyus {
  background: url(images/jump.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}

.section_whyus:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(156, 14, 42, 0.85);
}

/* 5 Core Values */
.section_value {
  margin-top: 100px;
}

.section_value .content {
  margin-bottom: -200px;
  padding: 50px;
  position: relative;
  top: -200px;
}

.section_value .image_area img {
  border-radius: 50%;
}

/* 企業理念 */
.history_wrap {
  padding: 50px;
}

.history_wrap dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
}

.history_wrap dl:not(:last-child) {
  margin-bottom: 20px;
}

.history_wrap dt {
  width: 20%;
  padding-right: 32px;
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
}

.history_wrap dd {
  width: 80%;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

.content_gallery .headline-type04 {
  color: #FFF;
}

.content_gallery .image_area {
  height: 200px;
  overflow: hidden;
}

.content_gallery .text_area {
  padding: 30px;
  background-color: #FFF;
}

.content_gallery .date {
  margin-bottom: 5px;
  font-family: "Oswald", sans-serif;
  display: block;
}

.content_gallery .title {
  font-size: 1.6rem;
  letter-spacing: 0.05em;
}

.content_gallery .btn_wrap {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.content_gallery .more {
  color: #9c0e2a;
  text-decoration: underline;
  font-family: "Oswald", sans-serif;
}

.content_gallery .more:before {
  content: '>';
}

/* 会社概要 */
.content_company .headline-type04:after {
  background-color: #FFF;
}

.content_company .l-column .text_area {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 1.4rem;
  background: url(images/lanscape.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}

.content_company .l-column .text_area:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(156, 14, 42, 0.85);
}

.content_company .l-column .text_area .inner {
  width: 620px;
  position: relative;
  color: #FFF;
}

.content_company .l-column .text_area a {
  color: #FFF;
}

.content_company .info_box {
  letter-spacing: 0.05em;
}

.content_company .info_box:not(:last-child) {
  margin-bottom: 20px;
}

.content_company .company_name {
  margin-bottom: 40px;
}

.content_company .company_name .name {
  margin-bottom: 5px;
  font-size: 2.6rem;
  font-weight: 600;
}

.content_company .company_name .sub {
  font-size: 1.4rem;
}

.content_company .more_view {
  margin-top: 40px;
}

.content_company .map_area iframe {
  display: block;
}

.overview_wrap {
  padding: 50px;
}

.overview_wrap dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
}

.overview_wrap dl:not(:last-child) {
  margin-bottom: 20px;
}

.overview_wrap dt {
  width: 35%;
  padding-right: 32px;
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
}

.overview_wrap dd {
  width: 65%;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
}

.icon-close {
  background: #FFF;
  margin-bottom: 10px;
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 0;
  color: #a9a9a9;
  cursor: pointer;
}

/* NEWS */
.content_news .col_inner {
  padding: 40px;
  background-color: #FFF;
}

.content_news .date {
  margin-bottom: 5px;
  font-family: "Oswald", sans-serif;
  display: block;
}

.content_news .title {
  font-size: 1.6rem;
  letter-spacing: 0.05em;
}

.content_news .btn_wrap {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.content_news .more {
  color: #9c0e2a;
  text-decoration: underline;
  font-family: "Oswald", sans-serif;
}

.content_news .more:before {
  content: '>';
}

.news_detail {
  padding: 50px;
}

.news_detail .date {
  margin-bottom: 5px;
  font-family: "Oswald", sans-serif;
  display: block;
}

.news_detail .title {
  margin-bottom: 30px;
  font-size: 2.0rem;
}

.news_detail img {
  margin-bottom: 10px;
}

/* お問い合わせ */
.content_contact {
  padding: 100px 0;
}

.content_contact .svg-inline--fa {
  margin-right: 18px;
}

/* フッター */
.l-footer {
  color: #FFF;
  font-family: "Oswald", sans-serif;
}

.l-footer a {
  color: #FFF;
}

.l-footer .headline {
  margin-bottom: 1.2em;
  font-size: 1.8rem;
  letter-spacing: 0.15em;
  text-align: center;
}

.l-footer .sns_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 1.4rem;
}

.l-footer .sns_link li {
  margin: 0 1em;
}

.footer_area.catch_area {
  padding: 35px 0 45px;
  background-color: #9c0e2a;
  color: #FFF;
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.footer_area.catch_area h1 {
  margin-bottom: .5em;
  font-size: 3.5rem;
}

.footer_area.catch_area h1 a {
  font-size: 4.0rem;
  display: inline-block;
  margin-left: 20px;
  border-bottom: 3px solid #FFF;
}

.footer_area.area01 {
  padding: 100px 0;
  background: url(images/mv.jpg) center no-repeat;
  background-size: cover;
  position: relative;
}

.footer_area.area01:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.footer_area.area01 .inner {
  z-index: 9;
  position: relative;
}

.footer_area.area02 {
  background-color: #111;
  font-size: 1.1rem;
}

.footer_area.area02 .inner {
  height: 60px;
}

.footer_area.area02 li {
  display: inline-block;
}

.footer_area.area02 li:not(:last-child) {
  margin-right: 2em;
}

.footer_area .inner {
  width: 1240px;
  margin: 0 auto;
}

@media screen and (max-width: 1240px) {
  .footer_area.area01 {
    padding: 50px 20px;
  }
  .footer_area.area02 {
    padding: 0 20px;
  }
  .footer_area .inner {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  .l-footer .sns_link {
    font-size: 1.2rem;
  }
  .footer_area.area02 {
    padding: 30px 0;
  }
  .footer_area.area02 .inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer_area.area02 ul {
    margin: 0 auto;
  }
  .footer_area.area02 .copyright {
    margin: 0 auto;
  }
  .footer_area.catch_area h1 a {
    margin-left: 0;
  }
}

.headline-type01 {
  margin-bottom: 50px;
  font-size: 3.2rem;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 1;
  font-family: "Oswald", sans-serif;
}

.headline-type01:after {
  content: '';
  width: 50px;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(#206fbd), to(#509ae4));
  background: -webkit-linear-gradient(left, #206fbd, #509ae4);
  background: -o-linear-gradient(left, #206fbd, #509ae4);
  background: linear-gradient(90deg, #206fbd, #509ae4);
  display: block;
  margin: 30px auto 0;
}

.headline-type02 {
  margin-bottom: 25px;
  padding-left: 20px;
  font-size: 2.2rem;
  font-weight: 400;
  border-left: 4px solid #9c0e2a;
  font-family: "Oswald", sans-serif;
}

.headline-type03 {
  margin-bottom: 30px;
  font-size: 2.6rem;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}

.headline-type04 {
  margin-bottom: 30px;
  font-size: 3.5rem;
  font-family: "Oswald", sans-serif;
}

.headline-type04:after {
  content: '';
  width: 25px;
  height: 2px;
  margin: 17px 0 20px;
  background-color: #9c0e2a;
  display: block;
}

.headline-type04.sp_center {
  text-align: center;
}

.headline-type04.sp_center:after {
  margin: 17px auto 20px;
}

@media screen and (max-width: 834px) {
  .headline-type02 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 479px) {
  .headline-type01 {
    font-size: 2.5rem;
  }
  .headline-type01:after {
    width: 40px;
    margin-top: 20px;
  }
  .headline-type02 {
    margin-bottom: 20px;
  }
  .headline-type03 {
    margin-bottom: 20px;
    font-size: 2.0rem;
  }
  .headline-type04 {
    font-size: 2.4rem;
  }
}

/* ボタン関連 */
.btn {
  display: inline-block;
  text-align: center;
}

.btn-green {
  background-color: green;
  color: #FFF;
}

.btn-black {
  background-color: #000000;
  color: #FFF;
}

.btn-large {
  width: 300px;
}

.btn-mid {
  width: 226px;
  padding: 12px 12px 13px;
}

.btn-small {
  width: 100px;
}

.btn-more {
  width: 250px;
  max-width: 100%;
  margin: 50px auto 0;
  padding: 14px .5em 18px;
  display: block;
  background-color: #9c0e2a;
  font-size: 1.6rem;
  letter-spacing: 0.15em;
  border-radius: 30px;
  color: #FFF;
  font-family: "Oswald", sans-serif;
}

.btn-contact {
  width: 70%;
  margin: 0 auto;
  padding: 50px;
  display: block;
  background-color: #FFF;
  border: 2px solid #9c0e2a;
  font-size: 2.8rem;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  color: #9c0e2a;
}

.btn-return {
  display: inline-block;
  padding: 1em;
  border: 1px solid #FFFFFF;
  background-color: #000000;
}

.btn-return:hover {
  border: 1px solid #cfa972;
}

.btn-type01 {
  border: 1px solid #9c0e2a;
  color: #9c0e2a;
}

.btn-type01:hover {
  color: rgba(255, 255, 255, 0.75);
}

.btn-type02 {
  background-color: #9c0e2a;
  color: #FFF;
}

.btn-type02:hover {
  color: rgba(255, 255, 255, 0.75);
}

.btn-type03 {
  background-color: #fff100;
  color: #111;
}

.btn-arrow {
  position: relative;
}

.btn-arrow:after {
  content: '';
  width: 6px;
  height: 12px;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20class%3D%22arrow_next%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20206.3%20377.4%22%3E%3Cpath%20d%3D%22M202.7%20197.4c4.8-4.9%204.8-12.6%200-17.4C142.8%20121.1%2082%2062.2%2021.2%203.2%209.6-7.4-7.8%2010%203.8%2020.6c57.9%2056%20114.9%20112%20172.8%20168-57.9%2056-114.9%20112-172.8%20168-10.6%2011.6%205.8%2028%2017.4%2017.4C82%20315.1%20142.8%20256.2%20202.7%20197.4z%22%20fill%3D%22%23FFF%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 834px) {
  .btn-contact {
    padding: 30px;
  }
}

@media screen and (max-width: 479px) {
  .btn-more {
    margin: 30px auto 0;
  }
  .btn-contact {
    width: 100%;
    font-size: 2.0rem;
  }
}

/* フォーム関連 */
*:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #999;
}

input:-ms-input-placeholder {
  color: #999;
}

input::-moz-placeholder {
  color: #999;
}

textarea::-webkit-input-placeholder {
  color: #999;
}

textarea:-ms-input-placeholder {
  color: #999;
}

textarea::-moz-placeholder {
  color: #999;
}

input[type="radio"] {
  margin-right: 5px;
  position: relative;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  padding: 0;
  min-height: auto;
  content: "";
  background-color: #FFFFFF;
  border: 1px solid #999999;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  border-radius: 24px;
  vertical-align: middle;
  cursor: pointer;
  top: -2px;
}

input[type="radio"]:checked:after {
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  content: "";
  width: 10px;
  height: 10px;
  background: #9c0e2a;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

input[type="checkbox"] {
  margin-right: 5px;
  position: relative;
  -webkit-appearance: unset;
  -moz-appearance: unset;
  appearance: unset;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  padding: 0;
  min-height: auto;
  content: "";
  background-color: #FFFFFF;
  border: 1px solid #CCC;
  border-radius: 3px;
  vertical-align: middle;
  cursor: pointer;
  top: -2px;
}

input[type="checkbox"]:checked:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "FontAwesome";
  content: "\f00c";
  color: #9c0e2a;
}

@media screen and (max-width: 834px) {
  input[type="checkbox"] {
    font-size: 1.4rem;
  }
}

/* リスト */
ul.list_style_none {
  list-style-type: none;
}

ul.note {
  list-style-type: none;
}

ul.note li {
  text-indent: -1.1em;
  margin-left: 1.1em;
}

ul.note li:before {
  content: '※';
}

ul.note li:not(:last-child) {
  margin-bottom: .3em;
}

/* slick.js 調整 */
body .slick-prev {
  width: 50px;
  height: 50px;
  padding: 12px 18px;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

@media screen and (max-width: 479px) {
  body .slick-prev {
    left: 0;
  }
}

body .slick-prev:before {
  content: url("data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20206.3%20377.4%22%20style%3D%22enable-background%3Anew%200%200%20206.3%20377.4%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23FFFFFF%3B%7D%3C%2Fstyle%3E%3Cg%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M185.1%2C374c11.6%2C10.6%2C28-5.8%2C17.4-17.4c-57.9-56-114.9-112-172.8-168c57.9-56%2C114.9-112%2C172.8-168%20c11.6-10.6-5.8-28-17.4-17.4C124.3%2C62.2%2C63.5%2C121.1%2C3.6%2C180c-4.8%2C4.8-4.8%2C12.5%2C0%2C17.4C63.5%2C256.2%2C124.3%2C315.1%2C185.1%2C374z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  opacity: 1;
  filter: alpha(opacity=100);
}

body .slick-prev:hover {
  opacity: 0.75;
}

body .slick-prev:focus {
  opacity: 1;
}

body .slick-next {
  width: 50px;
  height: 50px;
  padding: 12px 18px;
  -webkit-transition: 0.5s ease-out;
  -moz-transition: 0.5s ease-out;
  -ms-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

@media screen and (max-width: 479px) {
  body .slick-next {
    right: 0;
  }
}

body .slick-next:before {
  content: url("data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%20206.3%20377.4%22%20style%3D%22enable-background%3Anew%200%200%20206.3%20377.4%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23FFFFFF%3B%7D%3C%2Fstyle%3E%3Cg%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M202.7%2C197.4c4.8-4.9%2C4.8-12.6%2C0-17.4C142.8%2C121.1%2C82%2C62.2%2C21.2%2C3.2C9.6-7.4-7.8%2C10%2C3.8%2C20.6%20c57.9%2C56%2C114.9%2C112%2C172.8%2C168c-57.9%2C56-114.9%2C112-172.8%2C168c-10.6%2C11.6%2C5.8%2C28%2C17.4%2C17.4C82%2C315.1%2C142.8%2C256.2%2C202.7%2C197.4z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  opacity: 1;
  filter: alpha(opacity=100);
}

body .slick-next:hover {
  opacity: 0.75;
}

body .slick-next:focus {
  opacity: 1;
}

body .slick-dots {
  bottom: 32px;
}

@media screen and (max-width: 479px) {
  body .slick-dots {
    bottom: 15px;
  }
}

body .slick-dots li {
  width: 10px;
  height: 10px;
  margin: 0 10px;
}

@media screen and (max-width: 479px) {
  body .slick-dots li {
    margin: 0 5px;
  }
}

body .slick-dots li.slick-active button {
  background-color: white;
}

body .slick-dots li button {
  width: 10px;
  height: 10px;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

body .slick-dots li button:before {
  display: none;
}

body .slick-dotted.slick-slider {
  margin-bottom: 0;
}

#fancybox-overlay {
  background-color: #000 !important;
}

#fancybox-outer {
  background: none !important;
}

#fancybox-content {
  border: 0 !important;
  background: none !important;
}

@media screen and (max-width: 1240px) {
  .section_wrap {
    padding: 80px 0;
  }
  .section_wrap .content:not(:last-child) {
    margin-bottom: 80px;
  }
  .content {
    width: 100%;
    padding: 0 20px;
  }
  #main_visual {
    min-width: 100%;
  }
  #main_visual .catch_area .catch {
    width: 100%;
    padding: 0 20px;
  }
  /* 会社概要 */
  .content_company .content {
    padding: 0;
  }
  .content_company .l-column .text_area {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .content_company .l-column .text_area .inner {
    width: 85%;
  }
  /* NEWS */
  .content_news .col_inner {
    padding: 30px;
  }
}

@media screen and (max-width: 834px) {
  body {
    font-size: 1.4rem;
  }
  /* メインビジュアル */
  #main_visual .catch_area .catch {
    font-size: 4.5rem;
  }
  /* サイト共通 */
  .section_wrap {
    padding: 60px 0;
  }
  .section_wrap.wide_full .content {
    padding: 0;
  }
  .section_wrap .content:not(:last-child) {
    margin-bottom: 60px;
  }
  .section_value {
    margin-top: 60px;
  }
  .section_value .content {
    width: 94%;
    padding: 50px 40px;
    margin-bottom: -100px;
    top: -100px;
  }
  /* NEWS */
  .content_news .col_inner {
    padding: 20px;
  }
  .content_gallery .image_area {
    height: 18vw;
  }
}

@media screen and (max-width: 479px) {
  body {
    font-size: 1.4rem;
  }
  p.text-center {
    text-align: left;
  }
  /* メインビジュアル */
  #main_visual {
    margin-top: 64px;
  }
  #main_visual .catch_area .catch {
    font-size: 3.5rem;
  }
  #owl-demo .item img {
    display: block;
	width: 100%;
	height: auto;
  }
  .section_wrap {
    padding: 40px 0;
  }
  .section_wrap .content:not(:last-child) {
    margin-bottom: 40px;
  }
  .content {
    padding: 0 15px;
  }
  .section_service .l-column.col3 .col_inner:not(:last-child) {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px dashed #e2e2e2;
  }
  .section_service .l-column.type01 .image_area {
    width: 55%;
    height: 50vw;
    margin: 0 auto 25px;
  }
  .section_service .l-column.type01 .btn-more {
    margin-top: 25px;
  }
  /* 5 Core Values */
  .section_value {
    margin-top: 50px;
  }
  .section_value .content {
    width: 90%;
    margin-bottom: -80px;
    padding: 30px 20px;
    top: -80px;
  }
  .section_value .image_area img {
    border-radius: 50%;
  }
  .section_value .text_area {
    font-size: 1.1rem;
  }
  /* 企業理念 */
  .history_wrap {
    padding: 50px 30px;
  }
  .history_wrap dl {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .history_wrap dt {
    width: 100%;
    margin-bottom: 2px;
    padding-right: 0;
    text-align: left;
  }
  .history_wrap dd {
    width: 100%;
  }
  .content_gallery .text_area {
    padding: 30px 7.5%;
  }
  /* 会社概要 */
  .content_company .info_box:not(:last-child) {
    margin-bottom: 15px;
  }
  .content_company .company_name {
    margin-bottom: 30px;
  }
  .content_company .company_name .name {
    font-size: 2.0rem;
  }
  .content_company .more_view {
    margin-top: 30px;
  }
  .content_company .map_area iframe {
    height: 300px;
  }
  .content_company .l-column.col_half .text_area {
    width: 100%;
    margin: 0 auto;
  }
  .overview_wrap {
    padding: 50px 30px;
  }
  .overview_wrap dl {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .overview_wrap dt {
    width: 100%;
    margin-bottom: 2px;
    padding-right: 0;
    text-align: left;
  }
  .overview_wrap dd {
    width: 100%;
  }
  .icon-close {
    font-size: 2.4rem;
  }
  /* NEWS */
  .content_news .l-column.col3 {
    margin-bottom: -20px;
  }
  .content_news .l-column.col3 .col_inner {
    margin-bottom: 20px;
  }
  .news_detail {
    padding: 50px 30px;
  }
  .content_gallery .image_area {
    height: 180px;
  }
}

/* buttons hover */
.btn-more span {
  display: inline-block;
  /* Ko co cho nay thi khoi? hien */
  position: relative;
}
.btn-more span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-more:hover {
  color: #9c0e2a;
  background: white;
  border-color: #9c0e2a;
  border-style: solid;
}

.bg_red .btn-more:hover {

}

.btn-more:hover span {
  padding-right: 25px;
}

.btn-more:hover span:after {
  opacity: 1;
  right: 0;
}

/* Image Overlay */
.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
  opacity: 0.8;
}

.overlay-text {
  padding: 20px;
  color: white;
}

.our-service-card:hover .image-overlay {
  height: 100%;
}

.our-service-card:hover .image_area {
  opacity: 0.5;
}

/* Sticky container */
.sticky-container {
  position: fixed;
  top: 200px;
  left: 70px;
  z-index: 60;
}

.sticky-container img {
  width: 25px;
  height: 25px;
}

.sticky-container .sticky-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* No border table */
table.no-border td {
  border: none;
}

/* Recruitment */
img.recruit-icon {
  width: 25px;
  height: 25px;
}

/* Contact us */
.contact-us {
  color: #9c0e2a;
  font-size: 30px;
}

/* Global nav */
.global-nav li a{
  margin-bottom: 15px;
  color: #c7c7c7;
  transition: 0.8s;
}

.global-nav li a:hover {
  border-bottom: 1px solid white;
  color: white;
}