* {box-sizing: border-box;}

body {background-color: rgb(100,100,100); color: #fff;}
header {
    background-color: rgba(0,0,0,.5);
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
}

.panel-wrapper {
    position: relative;
}

.btn {
    color: #fff;
    background: #000;
    border-radius: 1.5em;
    left: 30%;
    padding: 1em;
    text-decoration: none;
    width: 40%;
}
.show, .hide {
    position: absolute;
    bottom: -1em;
    z-index: 100;
    text-align: center;
}

.hide {display: none;}
.show:target {display: none;}
.show:target ~ .hide {display: block;}
.show:target ~ .panel {
    max-height: 2000px;
}
.show:target ~ .fade {
    margin-top: 0;
}

.panel {
    position: relative;
    margin: 2em auto;
    width: 70%;
    max-height: 100px;
    overflow: hidden;
    transition: max-height 1s ease;
}
.fade {
    background: linear-gradient(to bottom, rgba(100,100,100,0) 0%,rgba(100,100,100,1) 75%);
    height: 100px;
    margin-top: -100px;
    position: relative;
}

